@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arrow Display";
  src: url("../fonts/ArrowDisplayVF_W_Wght.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arrow Display Italic";
  src: url("../fonts/ArrowDisplayItVF_W_Wght.woff2") format("woff2");
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --sl-color-accent-low: #004e7f;
  --sl-color-accent: #0069aa;
  --sl-color-accent-high: #0084d5;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f0f0f0;
  --sl-color-gray-2: #dedede;
  --sl-color-gray-3: #b3b3b3;
  --sl-color-gray-4: #757575;
  --sl-color-gray-5: #505050;
  --sl-color-gray-6: #29272a;
  --sl-color-black: #141314;

  --sl-nav-pad-y: 1.25rem;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #004e7f;
  --sl-color-accent: #0069aa;
  --sl-color-accent-high: #0084d5;
  --sl-color-white: #141314;
  --sl-color-gray-1: #29272a;
  --sl-color-gray-2: #505050;
  --sl-color-gray-3: #757575;
  --sl-color-gray-4: #b3b3b3;
  --sl-color-gray-5: #dedede;
  --sl-color-gray-6: #f0f0f0;
  --sl-color-black: #ffffff;
}

p {
  max-width: 60ch;
  text-wrap: pretty;
}

/* Button Overrides */

.action {
  border-radius: 2px;
  font-weight: 500;
  line-height: 1.1875;
  padding: 0.5rem 1rem;
}

@media (min-width: 50rem) {
  .action {
    font-size: var(--sl-text-base);
    padding: 1rem 1.5rem;
  }
}

/* Adjust Hero Grid */
@media (min-width: 50rem) {
  .hero {
    grid-template-columns: 6fr 2fr;
  }
}
