@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arrow Display";
  src: url("../fonts/ArrowDisplayVF_W_Wght.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arrow Display Italic";
  src: url("../fonts/ArrowDisplayItVF_W_Wght.woff2") format("woff2");
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --sl-color-accent-low: #112638;
  --sl-color-accent: #0d6eb0;
  --sl-color-accent-high: #b2cce4;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f0f0f0;
  --sl-color-gray-2: #dedede;
  --sl-color-gray-3: #b3b3b3;
  --sl-color-gray-4: #757575;
  --sl-color-gray-5: #505050;
  --sl-color-gray-6: #29272a;
  --sl-color-black: #141314;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #c6daec;
  --sl-color-accent: #0d6eb0;
  --sl-color-accent-high: #113551;
  --sl-color-white: #141314;
  --sl-color-gray-1: #29272a;
  --sl-color-gray-2: #505050;
  --sl-color-gray-3: #757575;
  --sl-color-gray-4: #b3b3b3;
  --sl-color-gray-5: #dedede;
  --sl-color-gray-6: #f0f0f0;
  --sl-color-black: #ffffff;
}
